body {
  background-color: #000000 ;
  color: #ffffff;
}
.active{
  background-color: #808080;
  height : auto;
}
#canvassElement {
background : url("dhadiImage.jpeg");
margin : auto ;
z-index : -1;
}
